@use "../../styles/variables";
@use "../../styles/fonts";
@use "../../styles/mixins";
@use "../../styles/global";

.article-iptu-container {
  @media screen and (min-width: variables.$breakpoint-md) {
    display: flex;
    justify-content: center;
  }

  .iptu {
    @include mixins.article(90%);
    @include mixins.box-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (min-width: variables.$breakpoint-xl) {
      @include mixins.article(600px);
      margin: auto;
    }
  }
  .iptu-new {
    @include mixins.articlenew(90%);
    @include mixins.box-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (min-width: variables.$breakpoint-xl) {
      @include mixins.articlenew(600px);
      margin: auto;
    }
  }

  .container-iptu-img {
    img {
      width: 160px;
      height: 160px;
      border-radius: 5px;

      @media screen and (min-width: variables.$breakpoint-xl) {
        width: 300px;
        height: 200px;
      }
    }
  }
  .iptu-content {
    padding-left: 0.9rem;
    //tava 0.6rem
    width: 100%;

    h5 {
      padding: 0.1rem;
      margin-top: 0.8rem;
      width: 60px;
      text-align: center;
      border-radius: 3px;
      background-color: variables.$warning;
      color: variables.$white;
      @include mixins.font-family("Roboto Thin");
    }
    p {
      color: variables.$secondary-dark;
      margin-top: 0.5rem;
      @include mixins.font-family("Roboto Bold Italic");
    }
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 120px;
      color: variables.$secondary;
      margin-top: 0.5rem;
    }
    button {
      @include mixins.font-family("Roboto Thin");
      font-style: inherit;
      @include mixins.font-properties(1rem, 500);
      display: flex;
      align-items: center;
      width: 130px;
      margin-top: 0.8rem;
      text-align: center;
      background-color: variables.$dark;
      color: variables.$white;
      border: none;
      padding: 0.4rem;
      border-radius: 5px;

      @media screen and (min-width: variables.$breakpoint-md) {
        margin: 1rem 0 0 0;
      }

      img {
        padding: 0;
        width: 25px;
        border-radius: 3px;
        margin: 0 0 0 1rem;
      }
    }
  }
}
