@use "../../styles/variables";
@use "../../styles/fonts";
@use "../../styles/mixins";
@use "../../styles/global";

.hero {
  position: relative;
  height: 85vh;
  @media screen and (max-width: variables.$breakpoint-md) {
    height: 70vh;
  }
  display: flex;
  align-items: center;
  padding: 0 5%;

  background-image: url("../../assets/img/img-hero.webp");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.85) 20%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }

  .hero-content {
    position: relative;
    max-width: 600px;
    color: #fff;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 1rem;
      @media screen and (max-width: variables.$breakpoint-md) {
        font-size: 2rem;
      }
    }

    .subtitle {
      font-size: 1.1rem;
      color: #cbd5e1;
      margin-bottom: 2rem;
    }

    .actions {
      display: flex;
      gap: 1rem;
    }

    .btn-primary {
      background: linear-gradient(135deg, #c19d53, #d8b86d);
      border: none;
      padding: 0.9rem 1.6rem;
      border-radius: 8px;
      font-weight: 600;
      color: #0f172a;
      cursor: pointer;
      @media screen and (max-width: variables.$breakpoint-md) {
        padding: 0.9rem 1.1rem;
      }
    }

    .btn-secondary {
      background: transparent;
      border: 1px solid #cbd5e1;
      padding: 0.9rem 1.6rem;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
    }
  }
  .contact-card {
    position: absolute;
    right: 5%;
    bottom: -60px;

    width: 320px;
    padding: 1.8rem;

    border-radius: 14px;

    // efeito vidro sofisticado
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
    }

    .title {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .subtitle {
      font-size: 0.9rem;
      color: #cbd5e1;
    }

    .btn {
      border: none;
      padding: 0.9rem 1.6rem;
      font-weight: 600;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      background: linear-gradient(135deg, #c19d53, #d8b86d);
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
