@use 'variables';

@mixin container{
    max-width: variables.$max-width;
    padding: 1.5rem 0;
    margin: 0 auto;
}
@mixin font-properties($size, $weight: normal) {
  font-size: $size;
  font-weight: $weight;
}
@mixin box-shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
  }
  
  @mixin font-family($family) {
    font-family: $family, sans-serif;
  }
  @mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @mixin card {
    background-color: variables.$white;
    width: 70%;
    min-height: 250px;
    margin: 3rem auto;
    border-radius: 5px;
    padding: 1rem 1.2rem;

    @media screen and (min-width: 1360px) and (max-width: 1920px){
      margin: 3rem 0 3rem 3rem;
      height: 400px;
    }
  }