@use "../../styles/variables";
@use "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.footer {
  background: #1c1c1e;
  padding: 40px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;

  .container-footer {
    max-width: variables.$container;
    margin: auto;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

    a {
      display: inline-block;
      transition: transform 0.3s ease;

      img {
        height: 42px;
        width: 42px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .copyright {
    font-size: 14px;
    color: variables.$white;
    opacity: 0.6;
  }
}
